$primary-color: #E0205C;
$secondary-color: #26B9D1;
$color-steps: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

@mixin create-palette($color, $name) {
    $color-steps-light: 400, 300, 200, 100, 50;
    $color-steps-dark: 600, 700, 800, 900;

    :root {
        --#{$name}-500 : #{$color};

        @for $i from 1 through length($color-steps-light) {
            $step: nth($color-steps-light, $i);
            $percentage: $i * 10 * .875%;
    
            --#{$name}-#{$step}: #{lighten($color, $percentage)};
        }

        @for $i from 1 through length($color-steps-dark) {
            $step: nth($color-steps-dark, $i);
            $percentage: $i * 10 * .625%;
        
            --#{$name}-#{$step}: #{darken($color, $percentage)};
        }
    }
}

@include create-palette($primary-color, primary);
@include create-palette($secondary-color, secondary);


@each $step in $color-steps {
    .primary-#{$step} {
        background: var(--primary-#{$step});
        &:after {
            content: 'var(--primary-#{$step})';
        }
    }
    .secondary-#{$step} {
        background: var(--secondary-#{$step});
        &:after {
            content: 'var(--secondary-#{$step})';
        }
    }
}

.step-wrapper {
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: .25rem;
    > div {
        height: 0;
        flex: 1 1 0px;
        font-size: .875rem;
        font-weight: 700;
        border-radius: .25rem;
        padding-top: 10%;
        &:after {
            display: block;
            font-size: .625rem;
            font-weight: 400;
        }
    }
}

$string-test: str-slice(ie-hex-str($primary-color), 4, 9);
$svg-uri: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='40' viewBox='0 0 120 40' fill='none'%3E%3Cg%3E%3Cpath d='M109.39 1.00098V22.301L113.414 20.642L113.43 13.642H120.001V9.80098H113.43V1.00098H109.39ZM38.415 22.925V10.817H49.834V6.32599H38.415V2.48398H53.874V14.658H42.455V19.083H54.245V22.924L38.415 22.925ZM48.433 30.3419L48.416 37.007L44.389 38.675V30.343H33.989V26.496H57.966V30.3369L48.433 30.3419ZM87.809 7.49799H101.255L101.25 20.347H97.209V11.339H87.809V7.49799ZM113.428 24.453V36.297H109.388V28.297H97.213V24.456L113.428 24.453ZM16.095 8.55197H10.134V3.45197H6.09399V8.55197H0V12.397H5.41284C5.15355 12.5225 4.90221 12.6662 4.6608 12.8275C3.62888 13.517 2.82459 14.497 2.34965 15.6436C1.87471 16.7902 1.75045 18.0519 1.99257 19.2692C2.23469 20.4864 2.83234 21.6045 3.70991 22.4821C4.58749 23.3596 5.70557 23.9573 6.92281 24.1994C8.14004 24.4415 9.40173 24.3173 10.5483 23.8423C11.6949 23.3674 12.675 22.5631 13.3645 21.5312C14.054 20.4993 14.422 19.2861 14.422 18.045C14.422 16.3808 13.7609 14.7847 12.5841 13.6079C12.0834 13.1071 11.5067 12.6998 10.8812 12.397H16.095V8.55197ZM21.031 2.48398V27.124L25.055 25.455L25.071 15.863H31.641V12.022H25.071V2.48398H21.031ZM8.147 20.562C7.64919 20.562 7.16254 20.4144 6.74863 20.1378C6.33471 19.8612 6.0121 19.4681 5.82159 19.0082C5.63109 18.5483 5.58124 18.0422 5.67836 17.5539C5.77548 17.0657 6.01521 16.6172 6.36722 16.2652C6.71923 15.9132 7.16771 15.6735 7.65596 15.5763C8.14421 15.4792 8.65029 15.5291 9.11021 15.7196C9.57014 15.9101 9.96324 16.2327 10.2398 16.6466C10.5164 17.0605 10.664 17.5472 10.664 18.045C10.664 18.7125 10.3988 19.3528 9.92679 19.8248C9.45476 20.2968 8.81455 20.562 8.147 20.562ZM75.777 23.58V17.764H71.738V23.58H61.67V27.421H85.647V23.58H75.777ZM64.121 4.02798V7.86899H71.738V9.19398L65.578 14.759L65.586 14.768L63.544 16.613L66.26 19.593L68.29 17.734L73.79 12.7L75.777 10.872V7.86398H83.527V4.02298L64.121 4.02798ZM75.052 12.387H79.187L84.055 16.678L81.406 19.592L74.297 13.069L75.052 12.387Z' fill='%23" + $string-test + "'/%3E%3C/g%3E%3C/svg%3E%0A";

.svg-test {
    width: 100%;
    height: 10rem;
    background-image: url($svg-uri);
    background-repeat: no-repeat;
    margin-top: 4rem;
}